.moreInfo .detail-info {
    width: 82%;
    margin: 30px auto;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    background-color: #ebebeb;
    border-radius: 4px;
    padding: 0 4%;
}

.moreInfo .detail-info > span {
    font-size: 16px;
    font-weight: bold;
}

.moreInfo .detail-info > p {
    display: inline-block;
}

/*suggest*/

.suggest .baseTableContent .el-form-item__content {
    padding-left: 0;
    height: auto;
}

.suggest .el-textarea__inner {
    height: 200px;
}

/*download*/
.download .drawContent {
    width: 46.6%;
}

.download .downloadType {
    display: inline-block;
    width: 32%;
    text-align: center;
    margin: 90px 0;
    font-size: 18px;
}
.download .downloadType > p {
    padding: 10px 0 10px;
}
.download .downloadType > .el-button {
    border: 1px solid #000;
    background-color: #000;
    color: #fff;
    padding: 4px 15px;
    border-radius: 10px;
}
