

/*suggest*/

.suggest .baseTableContent .el-form-item__content {
    padding-left: 0;
    height: auto;
}

.suggest .el-textarea__inner {
    height: 200px;
}

/*download*/
.download .drawContent {
    width: 46.6%;
}

.download .downloadType {
    display: inline-block;
    width: 32%;
    text-align: center;
    margin: 90px 0;
    font-size: 18px;
}
.download .downloadType > p {
    padding: 10px 0 10px;
}
.download .downloadType > a {
    border: 1px solid #000;
    background-color: #000;
    color: #fff;
    padding: 1px 15px;
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
}
