
/*历史记录页面*/
.position .baseListContent .el-tabs,
.history .baseListContent .el-tabs {
    margin-top: 28px;
}
.history .baseListContent .el-table .cell,
.history .baseListContent.el-table th>div {
    padding: 0;
}
.position .baseListContent .el-tabs__nav,
.history .baseListContent .el-tabs__nav {
    float: left;
}

.orderSelect.el-input {
    width: 150px;
}

