/*pagination start*/
.content .el-pagination {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.content .el-pager li.active {
    background-color: #3384d2;
    border-color: #3384d2;
}
.content .el-pager li.active:hover {
    color: #fff;
}
.content .el-pager li:hover {
    color: #3384d2;
}
/*pagination end*/

/*input start*/
.content .el-input__inner,
.content .el-input.is-disabled .el-input__inner {
    color: #999;
    background-color: #f3f9ff;
    border: none;
    padding-left: 20px;
}
/*input end*/

/*卡片统一阴影 start*/
.boxShadow {
    box-shadow: 0 0 8px 1px rgba(0,0,0,.12);
    border: 1px solid #eee;
}
/*卡片统一阴影 end*/

/*dialog start*/
.dialogInit .el-dialog {
    width: 400px;
    border-radius: 8px;
}
.dialogInit.applyMt4 .el-dialog {
    width: 700px;
}
.dialogInit .el-dialog__body {
    padding-right: 40px;
    padding-left: 0;
}
.dialogInit .el-dialog .el-select {
    width: 100%;
}
/*dialog end*/


/*按钮样式统一 start*/
.content .el-button {
    border-radius: 8px;
}

.content .el-button:focus,
.content .el-button:hover {
    border-color: #3384d2;
    color: #3384d2;
}
.content .el-button--primary,
.content .el-button--primary:focus,
.content .el-button--primary:hover{
    background-color: #3384d2;
    border-color: #3384d2;
    color: #fff;
}
.content .smallGrayBtn.el-button--small {
    background-color: #ccc;
    color: #fff;
    float: right;
}
.content .el-button--small {
    width: 80px;
    height: 30px;
}
/*按钮样式统一 end*/

/*首页图表样式 start*/
.chart-wrap {
    /*width: 100%;*/
    height: 260px;
    margin-top: 28px;
    padding: 20px;
}
.chart-wrap.chart-one {
    margin-top: 20px;
}
/*首页图表样式 end*/

/*页面顶部显示信息的卡片样式 start*/
.title-card {
    overflow: auto;
    margin-top: 20px;
    padding: 20px;
}
.title-info-card.width3 {
    width: 28%;
    margin-right: 8%;
    background-color: #f3f9ff;
}
.title-info-card.width5 {
    width: 18.2%;
    margin-right: 2.2%;
    background-color: #f3f9ff;
}
.title-info-card.width4 {
    width: 23.2%;
    margin-right: 2.3%;
    background-color: #f3f9ff;
}
.title-info-card {
    float: left;
    /*width: 18.272%;*/
    /*border: 1px solid #e4e4e4;*/
    border-radius: 5px;
    /*margin-right: 2.16%;*/
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding-top: 1.5%;
    color: #666;
    box-sizing: border-box;
    min-width: 120px;
}

.title-info-card:last-child,
.title-info-card.card4:last-child {
    margin-right: 0;
}

.title-info-card .title-info-name {
    font-size: 14px;
    padding: 3% 0 5%;
}
.title-info-card.card4 {
    width: 22%;
    margin-right: 4%;
}
/*页面顶部显示信息的卡片样式 end*/
/*每个信息框的标题统一样式 start*/
.infoList-title {
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    text-align: left;
    color: #3384d2;
    font-size: 16px;
    border-bottom: 1px solid #e1e2e3;
}
/*每个信息框的标题统一样式 end*/
/*不同颜色的按钮 start*/
.el-button.red-button,
.red-button.el-button:focus,
.red-button.el-button:hover {
    color: #fff;
    background-color: #f86c6b;
    border-color: #f86c6b;
}
.el-button.blue-button,
.blue-button.el-button:focus,
.blue-button.el-button:hover {
    color: #fff;
    background-color: #63c2de;
    border-color: #63c2de;
}
.el-button.yellow-button,
.yellow-button.el-button:focus,
.yellow-button.el-button:hover {
    color: #fff;
    background-color: #f8cb00;
    border-color: #f8cb00;
}
.el-button.black-button,
.black-button.el-button:focus,
.black-button.el-button:hover {
    color: #fff;
    background-color: #0b1418;
    border-color: #0b1418;
}

/*不同颜色的按钮 end*/
/*分页器样式start*/
#pagination {
    height: 50px;
    line-height: 50px;
    text-align: center;
}
#pagination ul,
#pagination #pageU {
    display: inline-block;
    overflow: hidden;
}
#pagination #pageU {
    float: left;
}
#pagination ul li {
    padding: 0 10px;
    margin: 0 15px;
    color: #cacaca;
    float: left;
    cursor: pointer;
    font-size: 16px;
    font-weight: normal;
}
#pagination ul li.curPage {
    border-width: 10px;
    border-top: 1px solid #000;
    color: #666;
}

#pagination .prev-arrow {
    display: inline-block;
    width: 13px;
    height: 9px;
    background: url("../img/pagination-arrow.png") no-repeat;
}
#pagination .next-arrow {
    display: inline-block;
    width: 13px;
    height: 9px;
    background: url("../img/pagination-arrow.png") -13px 0 no-repeat;
}
/*分页器样式end*/
/*基础表格样式 start*/
.el-table th.is-leaf,
.el-table th > .cell {
    background-color: #fff!important;
    text-align: center;
}
/*基础表格样式 end*/
/*基础操作表格卡片样式 start*/
.baseTableContent.width100 {
    width: 100%;
}
.baseTableContent {
    float: left;
    width: 49%;
    color: #666;
    margin-bottom: 50px;
    /*min-width: 345px;*/
    box-shadow: 0 0 8px 1px rgba(0,0,0,.12);
    margin-top: 20px;
}
.baseTableContent:nth-child(1),
.baseTableContent:nth-child(2) {
    margin-right: 2%;
}
.baseTableContent .el-form {
    display: block;
    max-width: 420px;
    margin: 40px auto ;
}

.baseTableContent .el-form-item:last-child {
    margin-top: 23px;
    margin-bottom: 0;
}

.baseTableContent .el-input.is-disabled .el-input__inner {
    color: #666;
}

.baseTableContent .el-form-item:last-child .el-form-item__content {
    padding: 0;
}

.baseTableContent .el-form .el-button {
    width: 100%;
    height: 48px;
    line-height: 48px;
    padding: 0;
}
.baseTableContent .el-form .moneyTag {
    font-size: 14px;
    color: #999;
    line-height: 24px;
}

.baseTableContent .el-form > span > span {
    color: #ff5353;
}

.baseTableContent span.drawTag > span {
    color: #4d9ffb;
}

.baseTableContent .el-form .balanceTag,
.baseTableContent .el-form .netWorthTag {
    display: inline-block;
    width: 38%;
    padding-left: 4%;
}

.baseTableContent .el-form .availTag,
.baseTableContent .el-form .usedTag {
    display: inline-block;
    width: 56%;
}

.baseTableContent .el-form .drawTag {
    display: inline-block;
    width: 96%;
    padding-left: 4%;
}
.baseTableContent .el-form .el-form-item.beforeTag {
    margin-bottom: 6px;
}
.baseTableContent .el-form .el-form-item.afterTag {
    margin-top: 6px;
}
/*基础操作表格卡片样式 end*/

/*baseListContent start*/
.baseListContent .el-table,
.baseListContent .el-table td,
.baseListContent .el-table th.is-leaf {
    border: none;
    color: #666;
    font-weight: normal;
    font-size: 14px;
    text-align: center;
}
.baseListContent .el-table::after {
    width: 0;
}
.baseListContent .el-table th > .cell {
    /*font-weight: bold;*/
}
.baseListContent .el-table__body-wrapper {
    margin: 10px 0;
}
.baseListContent .el-table .cell {
    line-height: 50px;
    color: #999;
}
/*baseListContent end*/

/*基础列表显示查询样式(可切换tab) start*/
.baseListContent {
    position: relative;
}
.baseListContent .el-tabs {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    box-shadow: 0 0 8px 1px rgba(0,0,0,.12);
    margin-top: 20px;
}
.baseListContent .el-tabs__header {
    margin: 0;
    border-bottom: 1px solid #e1e2e3;
}
.baseListContent .el-table__header-wrapper {
    line-height: 50px;
}
.baseListContent .el-tabs__active-bar {
    display: none;
}
.baseListContent .el-tabs__item {
    font-size: 16px;
    color: #666;
    height: 48px;
    line-height: 48px;
    border-radius: 4px;
    padding: 0 30px;
}
.baseListContent .el-tabs__item.is-active {
    color: #3384d2;
}
.baseListContent .el-tabs__content {
    color: #666;
}
.baseListContent .recordSelect {
    font-weight: normal;
    border-bottom: 1px solid #e1e2e3;
}
.recordSelect .el-form-item {
    float: left;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.recordSelect .el-form-item.labelItem {
    margin-left: 20px;
}
.recordSelect .el-form-item:nth-child(1) {
    margin-left: 30px;
}
.content .recordSelect .el-input__inner {
    background-color: #fff;
    border: 1px solid #c3c3c3;
}
.baseListContent .selectBtn.el-button {
    margin-left: 20px;
    background-color: #e7e7e7;
    color: #666;
    border-color: #e7e7e7;
}
.baseListContent .recordSelect > span {
    padding-right: 10px;
}
.baseListContent .recordSelect span:nth-child(3) {
    padding-left: 20px;
}
.baseListContent .el-table th > .cell {
    color: #666;
}
.baseListContent .el-table__header {
    border-bottom: 1px solid #d7d7d7;
}
.baseListContent .el-tabs__item:hover {
    color: #333;
}
/*基础列表显示查询样式(可切换tab) end*/

